<!--PRE-->
<form action="{SELF}" method="get" enctype="application/x-www-form-urlencoded" >
<fieldset ><legend>Filter</legend>
Name:
<input type="text" name="Name" value="{If:Name_value}" />
Jahr:<input type="text" name="Jahr" value="{If:Jahr_value}" />
<input type="submit" name="Filter" value="Anzeigen"/>
</fieldset>
</form>

{If:pagination}
<table>
<tr>
<th>{id_button}</th><th>{Name_button}</th><th>{Jahr_button}</th><th>{Höhe_button}</th><th>{Breite_button}</th><th>{Technik_button}</th><th>{BildDesMonats_button}</th><th></th><th></th>
</tr>
<!--/PRE-->

<!--LOOP-->
<tr  class="{alt_row}">
 <td>{id}</td>
 <td>{Name}</td>
 <td>{Jahr}</td>
 <td>{Höhe}</td>
 <td>{Breite}</td>
 <td>{Technik}</td>
 <td>
  {If:BildDesMonats}{IfEmpty:BildDesMonats(<a href="[SELF]?id=[id]&amp;setbdm=[next_bdm]" class="button" title="Dieses Bild für den nächsten freien Monat als Bild des Monats eintragen">Für [next_bdm_str] eintragen</a>)}<br /><br />
  Beschreibung<br />vorhanden: {Beschreibung}
 </td>
 <td><img src="InputPreview?x=150&amp;img={Dateiname}" alt="Vorschau" /></td>
 <td>{If:edit_btns}</td>
</tr>
<!--/LOOP-->
<!--POST-->
<tr>
<td colspan="4">{If:pagination}</td><td></td><td></td><td></td><td></td><td></td><td></td>
</tr>
</table>

<!--/POST-->