<!--PRE-->
<table id="termine">
<thead>
<tr>
<th>Datum</th><th>Termin</th><th>Kategorie</th><th>Ort</th>
</tr>
</thead>
<tbody>
<!--/PRE-->
<!--LOOP-->
{IfNotEmpty:MONTH_HEAD(<tr class="month-head"><td colspan="4">[MONTH_HEAD]</td><tr>)}
<tr class="{alt_row}">
 <td>{If:DTSTART}{IfNotEmpty:DTEND( - [DTEND])}</td><td><strong>{If:SUMMARY}</strong></td><td>{If:CATEGORIES}</td><td>{If:LOCATION}</td>
</tr>
<tr  class="{alt_row}">
 <td></td>
 <td colspan="2" class="linie">
 {If:DESCRIPTION}
 {IfNotEmpty:URL(<br />URL:[URL])}


 {IfNotEmpty:CONTACT(<br />Kontakt: [CONTACT])}

 </td>
 <td class="linie">{IfNotEmpty:STATUS([STATUS])}</td>
</tr>
{IfNotEmpty:edit_btns(<tr class="[alt_row]"><td colspan="4">[edit_btns]</td></tr>)}
<!--/LOOP-->

<!--POST-->
</tbody>
</table>
<!--/POST-->