<!--LOOP-->
<table id="einzelbild" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <h2>{Name}</h2>
            {IfNotEmpty:Beschreibung(<a class="info" href="[detail_link]">Mehr Informationen...</a>)}
			<div style="float:right">
			<a href="{next}">Zum nächsten Bild</a>
			<a href="{up}">Zur Galerie-Übersicht</a>
			<a href="{back}">Zum vorigen Bild</a>
			</div>
        </td>
    </tr>
    <tr>
        <td class="einzel-haupt" align="center" valign="middle">
            {IfNotEmpty:Beschreibung(<a href="[detail_link]">)}<img src="/{filepath}{Dateiname}" alt="{Name}" title="{Name} - klicken für mehr Informationen"/> {IfNotEmpty:Beschreibung(</a>)}
        </td>
    </tr>
</table>	
<!--/LOOP-->
