<!--LOOP-->
<table id="einzelbild" border="0" cellpadding="0" cellspacing="0">
  <tr>
  <td class="einzel-haupt" align="center" valign="middle">
 	{IfNotEmpty:Beschreibung(<a href="[detail_link]">)}
	<img src="/{filepath}{Dateiname}" alt="{Name}" title="{Name} - klicken für mehr Informationen" />
	{IfNotEmpty:Beschreibung(</a>)}

</td>
<td class="einzel-rechts" valign="top" style="width:200px">


<h2 style="margin-top:310px;">{Name}</h2>
	<p>{Technik}<br />
	{Höhe} x {Breite} cm, {Jahr}</p>
	{IfNotEmpty:Beschreibung(<a class="info" href="[detail_link]">Mehr Informationen...</a>)}


<a href="{next}"><img src="/Images/Pfeil_hellgrau_rechts.gif" style="float:right; margin:30px 40px 0 10px;"title="Zum nächsten Bild" alt="Zum nächsten Bild"  /> </a>
<a href="{up}"><img src="/Images/Pfeil_hellgrau_oben.gif" style="float:right; margin:30px 10px;"title="Zur Galerie-Übersicht" alt="Zur Galerie-Übersicht"  /> </a>
<a href="{back}"><img src="/Images/Pfeil_hellgrau_links.gif" style="float:right; margin:30px 10px;"title="Zum vorigen Bild" alt="Zum vorigen Bild"  /> </a>
</tr></table>
<!--/LOOP-->