<!--FORM-->

<div id="login">
<h1>{If:projekt_name|RheinaufCMS} Benutzer-Anmeldung</h1><div class="klein">

{If:meldung}
<form action="{action}" method="post">
  <p>
   User <br />
	<input name="user" type="text" />
</p>
  <p>Passwort <br />
    <input name="pass" type="password" />

</p>
  <p>
   <input type="submit" name="login_submit" value="Senden" />
   <input type="hidden" name="uuid" value="{uuid}" />
</p>
</form>
</div>
<!--/FORM-->
<!--LOGOUT-MELDUNG-->
Auf Wiedersehen {user}.
<!--/LOGOUT-MELDUNG-->
<!--LOGIN-FAIL-MELDUNG-->
Benutzer oder Kennwort falsch.
<!--/LOGIN-FAIL-MELDUNG-->
<!--INTERN-->

<!--/INTERN-->
<!--GILT_NICHT-->
Ihre Berechtigung gilt nicht für diese Seite.
<!--/GILT_NICHT-->
<!--KENNWORT_EINGEBEN-->
Bitte Benutzernamen und Kennwort eingeben!
<!--/KENNWORT_EINGEBEN-->

