#php_flag register_globals off

AddDefaultCharset ISO-8859-1
ErrorDocument 404 /CMSinit.php?httperror=404
ErrorDocument 403 /CMSinit.php?httperror=403

RewriteEngine On
RewriteBase /


#DEV-Mode -- Diese 3 Zeilen bewirken, das man die System-internen Seiten nur
#sehen kann, wenn man eingelogt ist
#
#RewriteCond %{REQUEST_URI} !^/Admin [NC]
#RewriteCond %{HTTP_COOKIE} !RheinaufCMS_user=
#RewriteRule .* - [L]


RewriteRule ^Download/(.*) RheinaufCMS/Download/$1 [L]
RewriteRule ^Images/(.*) RheinaufCMS/Images/$1 [L]
RewriteRule ^CSS/(.*) RheinaufCMS/CSS/$1 [L]
RewriteRule ^Libraries/(.*) RheinaufCMS/Libraries/$1 [L]
RewriteRule ^Module/(.*) RheinaufCMS/Module/$1 [L]
RewriteRule ^Scripts/(.*) RheinaufCMS/Scripts/$1 [L]

RewriteRule (.jpg|.gif|.css|.js|.php|.html?|.doc|.pdf)$ - [L,NC]

#Kein direkter Zugriff auf Content-HTMLs
RewriteRule ^RheinaufCMS/Content /CMSinit.php?httperror=403

#Nur Domain
RewriteRule !^. /Startseite

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /CMSinit.php
