<!--PRE-->
<h1>Öffentliche Werke</h1>
<p>Kirchen, Museen, Plätze &ndash; die öffentlich zugänglichen Werke sind aus Emil Wachters Schaffen nicht wegzudenken. Dieses Verzeichnis soll helfen, einen Überblick über die Vielzahl der Arbeiten zu schaffem. </p> <p>Gleichzeitig bietet es dem Interessierten die Möglichkeit, Werke in der Nähe zu Entdecken und zu Besuchen. Besonders geeignet ist dazu die Suche nach Postleitzahlen. Die Eingabe von "7" zeigt etwa alle Werke im Postleitzahlgebiet 7xxxx.</p>
<form style="margin:15px 0;" action="{SELF}" method="get" enctype="application/x-www-form-urlencoded" >
<fieldset ><legend>Ansicht eingrenzen</legend>
<label>PLZ:</label>
<input type="text" name="PLZ" value="{If:plz_value}" size="5" />
<label style="padding-left:8px;">Stadt:</label> <input type="text" name="Stadt" value="{If:stadt_value}" />
<input type="submit" name="Filter" value="Anzeigen"/>
{reset}
</fieldset>
</form>
<table id="oewerk">
<thead><tr style="background-color:#686868;"><th>PLZ</th><th>Stadt</th><th>Standort</th></tr></thead>
 <tbody><!--/PRE-->
<!--LOOP-->
  <tr ><td>{If:PLZ}</td><td>{If:Stadt}</td><td><a href="{SELF}?id={Location_id}">{If:Location_name}</a></td> </tr>
<!--/LOOP-->
<!--POST-->
 </tbody>
</table>
<!--/POST-->