* {
border:0;
padding:0;
margin:0;
-moz-border-radius:2px
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:#eee;
	background-image:url(/Images/.internal/admin_logo.png);
	background-repeat:no-repeat;
	background-position:top right;
	font-size:0.8em;
}
a { text-decoration:none; color:black; }
a:visited { color:black; }

h1 {
	margin-bottom:10px;
}

caption {
	font-weight:bold;
	text-align:left;
}
table.scaffold  {
	min-width:400px;
	border: 1px solid rgb(220, 220, 220);
}
.scaffold td {
	padding:4px;
}
.scaffold th {
	border-top:1px solid rgb(220, 220, 220);
}
.low_opacity {
	opacity:0.4;
filter:Alpha(opacity=40);
}
.nowrap {
	white-space:nowrap;
}
#loading {
	font-size:8em;
	opacity:0.5;
	filter:Alpha(opacity=50);
	color:white;
	background-color:rgb(20, 54, 84);
}
td {
	font-size:0.85em;
	vertical-align:top;
}
th {
	font-size:0.6em;
	font-weight:bold;
	vertical-align:top;
	text-align:left;
}
tfoot td{
	padding-top:8px;
	border-top:1px solid rgb(220, 220, 220);
}

input,select,fieldset,textarea {
	border:1px gray solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
}
fieldset {
background-color:whitesmoke;
padding:7px;
}
legend {
	color:gray;
}
input[type=image],input[type=checkbox],input[type=radio], option {
	border:0 !important;
}



ul {
	
}
li ul {
	padding-left:1em;
}
#admin {
	float:left;
	margin-right:50px;
	width:100px;
}

#content {
background-color:white;
opacity:0.9;
filter:Alpha(opacity=90);
border:1px solid;
border-color:  #ddd ButtonShadow ButtonShadow #ddd;
border-left:none;
margin:0;
margin-left:80px;
padding:15px;
padding-top:45px;
min-height:600px;
position:relative;
-moz-border-radius-topleft:30px;
}


#groups_table td,th {
text-align:center;
}
.menu_row,#menu_appendix {
	width:80px;
	background:#eee;
	text-align:center;
	position:absolute;
	left:0;
}
#menu_appendix {
	width:84px;
	height:80px;
	top:20px;
}
#admin_top{
	height:20px;
	background:#eee;
	padding:3px 0 0 95px;
}
.menu_row {
top:80px;
padding-left:5px;
border-right:1px solid;
border-color:#ddd;
}

.menu_item {

	font-size:10px;
}


.menu_item a {
  padding:10px;
	display:block;
	border:solid #ddd;
	border-width: 0 1px 0 0 ;
	background:#eee;
}
.menu_item a:hover {
	padding:11px 9px 9px 11px;
	/*background-color:rgb(160, 154, 255);
	color: rgb(255,255,255);*/
}
.menu_item a.active {
	border-width: 1px 0 1px 1px;
	-moz-border-radius:10px 0 0 10px;
	background:white;
}
.menu_item a.active:hover {
	padding:10px;
	cursor:default
}

/*----Button & pseudo-buttons---*/
.button, input[type=submit],button {
	background-color:#eee;
	color: black;
	border: 1px solid;
	border-color:ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	border-left: none;
	cursor:default;
	white-space:nowrap;
}

.button, input[type=submit],button {
	padding:1px 4px 2px 4px ;
	font-size:11px;
	border: 1px solid;
	border-color:ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.button:hover,input[type=submit]:hover,button:hover {
	/* padding:2px 3px 1px 5px ; */
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow ;
}
.button:focus,input[type=submit]:focus,button:focus,.button:active,input[type=submit]:active,button:active  {
	background-color:rgb(205, 205, 205);
}
.button:focus,input[type=submit]:focus,.button:active  {
	padding:2px 3px 1px 5px ;
}
.active {
	background-color:#fff;
}
/*----Double it for IE6---*/
.button  {
	background-color:#eee;
	color: black;
	border: 1px solid;
	border-color:ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	border-left: none;
	cursor:default;
}

.button {
	padding:1px 4px 2px 4px ;
	font-size:11px;
	border: 1px solid;
	border-color:ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.button:hover {
	/* padding:2px 3px 1px 5px ; */
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow ;
}
.button:focus,.button:active {
	background-color:rgb(205, 205, 205);
}
.button:focus  {
	padding:2px 3px 1px 5px ;
}

/*---------------------------------------------------------------------------*/

.abwechselnde_flaechen_1,.alt_row_0 {
	background-color:rgb(245, 245, 245);
}
.alt_row_0.alt_col {
	background-color:rgb(235, 235, 235);
}
.abwechselnde_flaechen_2,.alt_row_1 {
	background-color:white
}
.alt_row_1.alt_col {
}
.klein {
	font-size:10px;
}

.advice {
font:9px grey;
}

/*-----------------*/
div#box-mitte {

width: 70% ;
}

.tooltip {
	width:250px;
	background-color:#FFFFCF;
	border:1px dotted #8F8F86;
	padding:5px 10px; 
}

#lo_logo {
	background: url(/Images/.internal/rlogo.gif) center no-repeat;
	height:80px;
	width:85px;
	position:absolute;
	z-index:20;
	top:0;
	left:0;	
}
#module_name {
	font-size:30px;
	opacity:0.1;
	filter:Alpha(opacity=10);
	text-align:right;
	position:absolute;
	top:10px;
	right:0px;
	font-family: "Arial Black",Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#555;
	
}
#logout {
	position:absolute;
	top:3px;
	right:5px;
	letter-spacing:1px;
	font-weight:bold;
}
#logout a {
	color:grey;
	font-size:smaller;
}
#admin_tabs {
	position:absolute;
	top:-5px;
	left:26px;
}
#admin_tabs .button{
	border-top:none;
	-moz-border-radius: 0 0 10px 10px;
}