img.floatright {
float:right;
margin:1em 0 0.5em 1em;
}

img.floatleft {
float:left;
margin:1em 1em 0.5em 0;
}

img.nonfloat {
float:none;
margin:0;
min-width:5em;
}

a img {
border:0;
border-style:hidden;
}

a.weiter {
color:#003455;
font-weight:500;
text-decoration:none;
}

address.adressliste {
margin-bottom:10px;
}

.autor {
font-style: italic;
}