<!--PRE-->

<br />Bitte wählen Sie die Räume aus, die Sie dieser Ausstellung hinzufügen möchten

<form action="{action}" method="post">
<table>

<!--/PRE-->

<!--LOOP-->
<tr  class="{alt_row}">
<td>
	<input type="checkbox" name="room[]" value="{RoomId}" />
</td>
<td>{Roomname}</td>
</tr>
<!--/LOOP-->
<!--POST-->
<tr>
<td colspan="2"><input type="submit" value="Hinzufügen" class="button" /> <a href="{SELF}" class="button">Zurück</a> {If:pagination}</td>
</tr>
</table>
</form>
<!--/POST-->