<!--HEADER-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>

   <title>{IfNotEmpty:projekt_name([projekt_name])} - {IfNotEmpty:title([title])}</title>
	<link rel="stylesheet" href="/RheinaufCMS/CSS/Design.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="/RheinaufCMS/CSS/Styles.css" media="screen" type="text/css" />
	<!--[if lt IE 7]>
	<script src="/RheinaufCMS/Libraries/IE7/ie7-standard-p.js" type="text/javascript">
	</script>
	<![endif]-->
	{IfNotEmpty:other_css([other_css])}

	{IfNotEmpty:keywords(<meta name="keywords" content="[keywords]" />)}
	{IfNotEmpty:description(<meta name="description" content="[description]" />)}
	
	<meta http-equiv="imagetoolbar" content="no" />

	{IfNotEmpty:scripts([scripts])}
</head>

<body>
<div id="wrapper">
<div id="illu">&nbsp;</div>
<div class="navi_background">{navi}</div> 
<div id="content">	

<!--/HEADER-->
<!--FOOTER-->

</div><!-- content-->
</div><!--wrapper-->

</body>
</html>

<!--/FOOTER-->