/*--------------------------------
--  Rheinauf CMS Default Template
--  v2
--	This one is the default page, unless otherwise assigned
--
--  $HeadURL: https://ray_cologne@svn.berlios.de/svnroot/repos/rheinaufcms/v2/RheinaufCMS/Classes/RheinaufCMS.php $
--  $LastChangedDate: 2006-08-29 18:58:09 +0200 (Di, 29 Aug 2006) $
--  $LastChangedRevision: 8 $
--  $LastChangedBy: ray_cologne $
---------------------------------*/
<!--PRE_CONTENT-->
{navi}
<div id="content">
<!--/PRE_CONTENT-->
<!--POST_CONTENT-->
</div><!-- content-->
<!--/POST_CONTENT-->