<!--PRE-->
<div class="box-mitte">
<img class="illu" src="/Images/P%E4dagogen/aufmacher160.jpg" alt="Aufmacher" />

<h1>BuddyListe - {Bundesland}</h1>
<p>Hier kann man was schreiben</p>

<form action="" method="get" enctype="application/x-www-form-urlencoded" >
<fieldset ><legend>Filter</legend>
Schulform:
{schulform_auswahl}
PLZ:
<input type="text" name="PLZ" value="{plz_value}" />
<input type="submit" name="Filter" value="Anzeigen"/>
</fieldset>
</form>
<!--/PRE-->
<!--TABLE OPEN-->
<table>
 <thead>
  <tr>
   <th>Name der Schule</th><th>Stadt</th><th>Postleitzahl</th><th>Schulform</th>
  </tr>
 </thead>
 <tbody>
<!--/TABLE OPEN-->
<!--TR-->
<tr>
<td><a href="../Detail/?id={id}" onclick="window.open('../Detail/?id={id}','BuddyListe Detailansicht','menubar=no,scrollbars=yes,width=580,height=550');return false">{Schulname}</a>
</td>
<td>{Stadt}</td>
<td>{PLZ}</td>
<td>{Schulform}</td>
</tr>
<!--/TR-->
<!--TABLE CLOSE-->
 </tbody>
</table>
<!--/TABLE CLOSE-->
<!--POST-->
{IfNotEmpty:meldung([meldung])}
</div> <!--/div center-->
<div id="rechte-spalte">
<div  class="box-ro">
<h1>Ihr Projekt nicht dabei?</h1>
<p>Tragen Sie Ihre eigenen Buddy-Projekte in unsere Buddy-Liste ein.</p>
<p>Hier schreiben wir noch zwei, drei Vorteile des Eingetragenseins hin und dass das Leben viel schöner wird, wenn man über die Buddy-Liste gefunden wird.</p>
<p><a class="weiter" href="../Eintragen">Neu Eintragen</a></p>
</div>
</div>


<!--/POST-->

<!--KEIN ERGEBNIS-->
<div class="message_box"><p>Für diese Auswahl wurde kein Ergebnis gefunden.</p></div>
<!--/KEIN ERGEBNIS-->