<!--TEMPLATE-->

	<div class="box-mitte">
	<img class="illu" src="/Images/Aktuelles/aufmacher160.jpg" alt="Aufmacher" />
		<h1>Neueintrag Buddyliste</h1>
			<p class="vorspann">Der Eintrag in unsere Datenbank ermöglicht es ihnen, ihr Projekt einer größeren Öffentlichkeit vorzustellen. Uns gibt es die Möglichkeit, die Aktivitäten unserer Buddy-Schulen zu erfassen und zu systematisieren. Wir freuen uns wenn sie uns dabei ein wenig behilflich sind:</p>
	{form}
	</div>

<div id="rechte-spalte">
  {Das Buddy-Projekt}
{Was will buddy e.V.}
</div>
<!--/TEMPLATE-->