<!--TEMPLATE-->
<div class="box-mitte">
<img class="illu" src="/Images/Aktuelles/aufmacher160.jpg" alt="Aufmacher" />

<h1>Die Buddy-Liste</h1>
<p class="vorspann">Lernen sie die vielfältigen Buddy-Projekte kennen. Die Datenbank gibt Ihnen die Möglichkeit Buddy-Gruppen in Ihrer Nähe zu finden und über bestehende Praxis-Projekte zu erfahren. </p>
<p>
Um die verschiedenen Projekte eines Bundeslandes zu sehen, klicken Sie
die jeweiligen Bundesländer in der Karte an. Sie haben auch die Möglichkeit direkt <a href="Bundesweit/">bundesweit</a> zu suchen. </p>

<div style="text-align:center;margin:0 0 20px 0">{karte}
</div>

</div>
<div id="rechte-spalte">
<div  class="box-ro">
<h1>Ihr Projekt nicht dabei?</h1>
<p>Wenn Sie ihr Projekt an dieser Stelle auch gerne vorstellen möchten, damit andere sehen was an ihrer Schule oder sozialen Einrichtung läuft, dann klicken sie bitte auf 
<a class="weiter" href="Eintragen">Neu Eintragen</a></p>
</div>
</div>
<!--/TEMPLATE-->